$primary: #094151;
$control-grey: #DFE6E8;
$theme-colors: ( 
    "primary": $primary,
    "control-grey": $control-grey,
    "warning": #ffc107,
    "light-grey": #f6f6f6,
    "adh-orange": #ff6f47,
    "adh-brown": #c2b59b,
    "adh-red": #e51c23,
);
$border-radius: 5px;

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
html {
    font-size: 0.85rem;
}

body {
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: $primary;
    min-height: 100vh;
    position: relative;
    --tooltip-background: rgba(0,5,11,0.9);
    --tooltip-color: #fff;
    --tooltip-border-radius: 5px;
    --tooltip-spacing: 5px;
  
    --chart-background: rgb(51, 51, 51);
    --chart-color: #fff;
  
    --chart-handle-fill: #2c343a;
    --chart-handle-stroke: #67c2e4;
    --chart-handle-drag-fill: transparent;
    --chart-handle-dots: #67c2e4;
    --chart-handle-line: #67c2e4;
}


h1, h5 {
    font-weight: 700;
}

.info-block {
    background: rgba(246, 248, 248, 1);
    padding: 1em;
    border-radius: 5px;

}

.locationPanel h2 {
    font-size: 24px;
}

.introduction {
    font-size: 1.2em;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 5px;
    background: rgba(242, 242, 242, 1);
}


/* Form */

.form-control, .form-select {
    background-color: #f2f2f2;
    border: none;
}

.form-label {
    font-weight: 600;
}

.search-results {
    position: absolute;
    z-index: 9999;
    background: #fff;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    padding: 0.5rem;
    cursor: pointer;
}

.search-results li:hover {
    background: #f2f2f2;
}

.section-jump-btn {
    display: inline-block;
    margin-right: 1em;
    background-color: #f2f2f2;
    color: #000;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;

    &.disabled {
        opacity: 0.4;
        cursor: not-allowed;

        &:hover {
            background-color: #f2f2f2;
        }
    }



    &:hover {
        background-color: #e6e6e6;
    }
}

.co2-header {
    padding: 2em 0;
}

.navbar {
    background-color: #fff !important;

    &.sticking {
        box-shadow: 0 0 10px rgba(17, 65, 81, 0.2);
    }

    .container {
        justify-content: unset !important;
        display: block !important;

        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.co2-section {
    background-color: #f2f2f2;
    padding: 2em 0;

    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .section-info {
        padding-top: 1.5em;

        h4, h5 {
            font-weight: 800;
            margin-bottom: 1em;
        }

        p {
            margin-bottom: 2em;
        }

        .faq {

            .card {
                border: none;
                margin-bottom: 0.5em;

                .card-header {
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        background: #f2f2f2;
                    }
                }

            }
        }

    }
}

.country-flag-circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    position: relative;
    top: 3px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*** Temperature ***/

.legend-box {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    border-radius: 5px;
}

/*** Charts ***/

.chart-wrapper {
    background: #fff;
    box-shadow: 0 0 10px rgba(17, 65, 81, 0.2);
    border-radius: 0 0 5px 5px;

    header {
        background: #114151;
        color: #fff;
        padding: 1em;
        border-radius: 5px 5px 0 0;

        h3 {
            font-size: 16px;
            margin: 0;
            font-weight: 500;

            .location-highlight {
                display: inline-block;
                padding: 0.25em 0.5em;
                background: rgba(255,255,255,0.2);
                border-radius: 5px;
   
            }
        }

    }

    .chart-controls {
        background: rgba(17, 65, 81, 0.04);
        padding: 1em;

        .form-select {
            background-color: #e7ecee;
        }

        .btn-primary {
            background: rgba(17, 65, 81, 0.04);
            color: rgba(17, 65, 81, 1);
            border-color: rgba(17, 65, 81, 0.04);

            &:hover {
                background: rgba(17, 65, 81, 0.1);
                border-color: rgba(17, 65, 81, 0.1);
            }
        }

    }

    .chart-container {
        padding: 2em 0;

        &.precipitation-chart-container {
            padding: 0 25px;
        }

        .xAxis .recharts-cartesian-axis-tick{
            transform: translateY(18px);
        }

        .xAxis .recharts-cartesian-axis-tick-line {
            transform: translateY(-18px);
        }

        .xAxis .recharts-cartesian-axis-tick-value {
            font-size: 11px;
            margin-bottom: 5px;
            
        }

        .yAxis .recharts-cartesian-axis-tick-value {
            font-size: 11px;
            margin-left: -5px;
        }

        .custom-tooltip {
            background: rgba(255,255,255,0.8);
            padding: 1em !important;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(17, 65, 81, 0.2);
            font-size: 0.8rem;
            width: 250px;

            .tooltip-date {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 1em;
            }

            .tooltip-item-name {
                font-weight: 600;
                white-space: nowrap;
            }

            .tooltip-item-value {
                text-align: right;
            }

        }

    }

    footer {
        border-top: 1px solid rgba(17, 65, 81, 0.1);
        padding: 1em;
        font-size: 0.9em;

        .legend-item {
            display: inline-block;
            margin-right: 0.5em;
            

            .legend-item-color {
                width: 1em;
                height: 1em;
                border-radius: 5px;
                display: inline-block;
                position: relative;
                top: 2px;
            }

            .legend-item-label {
                display: inline-block;
                margin-left: 0.5em;
            }
        }
    }
}

.chart-export {
    position: relative;
}



/*** Tables ***/

.table {
    --bs-table-striped-bg: #f7f9f9 !important;
    --bs-table-striped-color: #114151 !important;
    --bs-table-color-state: #114151 !important;
}

.table-container {
    padding: 1em;
    font-size: 0.9em;
    
}


/*** Embed Fixes ***/

.col, .introduction, .info-block {
    display: block;
}





